#app {
    text-align: center;
}
.app-wrapper {
    display:inline-block;
}
.app-center {
    display: inline-block;
}
.app-right {
    display: inline-block;
    position: absolute;
    margin-left: 30px;
}
.app-header {
    background-color: #a2a2a2;
    height: 135px;
    padding-top: 10px;
    color: #424242;
}
.app-title {
    font-size: 1.5em;
}
.app-intro {
    font-size: large;
    padding: 20px 0 10px 0;
}
#app input {
    width: 40px;
}
.app-logo {
    animation: app-logo-spin infinite 20s linear;
    height: 80px;
}
.timer {
    margin:15px 0 0 0;
}
ul.info {
    list-style: none;
}
.info li {
    padding: 5px 0
}
.reset button {
    padding-bottom: 30px;
    font-size: 16px;
}
@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
